.icon { display: inline-block; vertical-align: middle; background-image: url(../assets/sprite/sprite.png) }
.icon-battery { width: 85px; height: 85px; background-position: -202px -100px; }
.icon-grid { width: 85px; height: 85px; background-position: 0px -200px; }
.icon-incomeT { width: 100px; height: 100px; background-position: -101px -100px; }
.icon-inverter { width: 85px; height: 85px; background-position: -85px -200px; }
.icon-load { width: 85px; height: 85px; background-position: -170px -200px; }
.icon-plant-day { width: 100px; height: 100px; background-position: -202px 0px; }
.icon-plant-month { width: 101px; height: 100px; background-position: 0px 0px; }
.icon-plant-total { width: 101px; height: 100px; background-position: -101px 0px; }
.icon-plant-year { width: 101px; height: 100px; background-position: 0px -100px; }
.icon-pv { width: 85px; height: 85px; background-position: -302px 0px; }
.icon-signal { width: 24px; height: 24px; background-position: -302px -85px; }
.icon-signal0 { width: 24px; height: 24px; background-position: -326px -85px; }
.icon-signal1 { width: 24px; height: 24px; background-position: -350px -85px; }
.icon-signal2 { width: 24px; height: 24px; background-position: -302px -109px; }
.icon-signal3 { width: 24px; height: 24px; background-position: -326px -109px; }